.button {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: inherit;
  cursor: pointer;
  transition: transform 250ms linear;
}

.button:hover {
  transform: scale(1.02);
}

.button:active {
  transform: scale(0.95);
}

.button.black {
  color: #303030;
}