.hero {
  background-image: url(/images/mobile/hero_bd_480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 480px;
}
.hero .container {
}
.hero-social {
  display: none;
}
.hero-list {
}
.list {
}
.item {
}
.hero-description {
  padding: 208px 0;
}
.hero-subtitle {
}
.hero-title {
}
.hero-text {
}
