.traditional .container {
  display: flex;
  flex-direction: column-reverse;
  padding: 84px 0;
}

.traditional-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.traditional-list .item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 24px 20px;
}

.traditional-list .item:nth-child(2n + 1) {
  margin-right: 30px;
}

.traditional-list .item:nth-child(-n + 2) {
  margin-bottom: 30px;
}

.traditional-list .item:nth-child(even) {
  transform: translateY(30px);
}

.traditional-list .number {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.traditional-list .sign {
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: #ff6c00;
}

.traditional-list .text {
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  color: #303030;
}

.traditional-description {
  max-width: 500px;
}

.traditional-description .section-subtitle,
.traditional-description .section-title {
  margin-bottom: 20px;
}

.description-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}